

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    /* width: 100%; */
    margin: 0;
    background-color: white;
}
body>* {
        padding: 2rem 25vw;
    }

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(255, 255, 255, 0); */
        /* Transparent background */
        box-shadow: none;
        /* No shadow initially */
        transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    font-family: 'Baloo 2', sans-serif;
        font-weight: 600;
        z-index: 4;
        height: 10vh;
        /* height: 8%; */
}
/* Add this CSS to your existing styles */

/* Add this to your existing CSS */
#mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -115px;
    width: 25%;
    height: 100%;
    background: #ffffff;
    flex-direction: column;
    align-items: left;
    /* justify-content: center; */
    z-index: 2;
}

/* Update these styles in your existing CSS */
#mobile-menu .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: flex-start;
    /* Justify items to the left */
}

#mobile-menu .menu li {
    /* margin: 10px 0; */
    /* Adjust the spacing between items */
    text-align: left;
    margin-left: 20px;
    /* Align text to the left */
}

#mobile-menu .menu a:link,
#mobile-menu .menu a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: .5em;
    /* Adjust the font size as needed */
    font-family: 'Baloo 2', sans-serif;
    /* Use the same font-family as the original menu */
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: left;
    
}

.menu li {
    margin-right: 20px;
    padding: 10px;
}

.menu li a:link {
    color: rgba(50, 106, 176, 100);
    text-decoration: none;
}

.menu li a:visited {
    color: rgba(50, 106, 176, 100);
    text-decoration: none;
}

.logo img {
    width: 90px;
    height: auto;
}

.logo {
    /* display: flex; */
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.image-section {
    position: relative;
    height: 100vh;
    /* Ensure the section covers the viewport height */
    overflow: hidden;
    /* display: flex    ; */
    justify-content: center;
    align-items: center;
}

#fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/friend group.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Make the image cover the entire section */
    /* background-position: center; */
}

#down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 30vh;
    /* Center vertically within the entire section */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, 0);
    /* Center the element horizontally */
}

#download button {
    border-radius: 25px;
    background-color: transparent;
    border: 8px solid white;
    text-decoration: none;
    /* Add a box shadow to the button border */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
        /* Add a text shadow to the button text */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#download h1 {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 600;
    font-size: 6em;
    color: white;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



h3{
    font-family: 'Baloo 2', sans-serif;
        font-weight: 400;
        text-align: center;
        font-size: 5em;
}
h1{
font-family: 'Baloo 2', sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    
}

p{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.2em;
    margin-top: -2vh;
}

#mission {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 6vh;
}

#mission h3 {
    z-index: 2;
    position: relative;
    text-align: center;
}

#pmission {
    /* max-width: 70%; */
    margin: 0 auto;
    text-align: center;
    /* margin-top: 20vh; */
    /* Adjust the margin as needed */
}

#waves {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: -70%;
    /* margin-bottom: -15%; */
}

#waves::before {
    content: "";
    position: absolute;
    left: -200%;
    width: 200%;
    height: 125%;
    background-image: url('img/waves.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0;
    z-index: 1;
    opacity: 0;
    transition: left 2s ease, opacity 3s ease;
}

#waves.active::before {
    left: -50%;
    opacity: 0.90;
}

#testimonial {
    padding-top: 8vh;
}

.carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    margin: 0 60px;
    background: rgba(50, 106, 176, 100);
    border-radius: 5px;
    counter-increment: carousel-cell;
    text-align: center;
    
}

.carousel-cell p {
    margin: 0;
    padding: 0 45px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 200px;
    color: white;
    font-family: 'Raleway';
        font-weight: 400;
}

/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
}

#mission{
    margin-bottom: 30vh;
}

#contact h3{
    color: white;
    padding-top: 20vh;
}

.contact-background {
    background-color: rgba(12, 37, 119, 100);
    transition: background-color 0.5s;
    /* padding-top: 10vh; */
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    /* padding-bottom: 100px; */
}

/* #contact {
    width: 100%;
    height: 100%;
} */

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
/* Left contact page */
.form-horizontal {
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
    /* Adjust the margin as needed */
}

.form-control,
textarea {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    /* Add rounded edges */
    font-family: 'Raleway';
    font-weight: 400;
}

.form-control::placeholder,
textarea::placeholder {
    color: white;
    opacity: 0.7;
    /* Adjust the opacity as needed */
}

.send-button {
    margin: 0 auto;
    width: 60%;
    height: 40px;
    margin-top: 18px;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 10px;
    /* Add rounded edges */
    background-color: transparent;
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.send-button:hover {
    background-color: white;
    color: rgba(12, 37, 119, 100);
}

.send-text {
    display: block;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

/* End Left contact page */

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: white;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: white;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}


footer{
    font-family: 'Raleway';
        font-weight: 400;
        font-size: 1.2em;
    margin: 0 auto;
        text-align: center;
    color: white;
    
}


@media screen and (min-width: 600px) {
    body>* {
        padding: 2rem a5vw;
    }

    header{
        padding-left: 1rem ;
        padding-right: 1rem;
    }
    header {
        grid-template-columns: auto 1fr;
    }
    
    
}
@media only screen and (max-width: 600px) {
    
    #mobile-menu-icon {
            display: block;
        }
    
        .navbar .menu {
            display: none;
        }
    
        .navbar.show .menu {
            display: flex;
            flex-direction: column;
            background: #262626;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 1;
        }
    
        .navbar .menu li {
            margin: 10px 0;
            text-align: center;
        }
    
        #mobile-menu-icon {
            display: block;
        }
    
        header nav ul {
            display: none;
        }
                #waves {
                    display: none;
                }
        
                #fixed-background::before {
                    display: none;
                }
        h3{
            font-size: 2em;
        }
                #download button {
                    border-radius: 25px;
                    background-color: transparent;
                    border: 4px solid white;
                    text-decoration: none;
                    /* Add a box shadow to the button border */
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
                    /* Add a text shadow to the button text */
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }
        
                #download h1 {
                    font-family: 'Baloo 2', sans-serif;
                    font-weight: 600;
                    font-size: 4em;
                    color: white;
                    margin: 0;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }
            
                                #pmission {
                                    font-size: 1em;
                                    margin: -2rem -10vw;
                                }
                #testimonial{
                    margin: -2rem -25vw;
                    margin-top: -50vh;
                }
                #testimonial p{ 
                    font-size: 1em;
                }
                                .carousel-cell {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    height: fit-content;
                                    padding: 0 60px;
                                    background: rgba(50, 106, 176, 100);
                                    border-radius: 5px;
                                    counter-increment: carousel-cell;
                                    text-align: center;
                
                                }
                
                                .carousel-cell p {
                                    margin: 0;
                                    padding: 45px 45px;
                                    white-space: normal;
                                    word-wrap: break-word;
                                    overflow: hidden;
                                    height: fit-content;
                                    /* max-height: 200px; */
                                    color: white;
                                    font-family: 'Raleway';
                                    font-weight: 400;
                                }
                                .contact-wrapper{
                                    margin: -2rem -25vw;
                                }
                                .direct-contact-container{
                                    max-width: 200px;
                                    
                                }
                                .contact-list{
                                    margin-left: 5px;

                                }
                                .contect-text{
                                    font-size: 10px;
                                }
}
@media only screen and (min-width: 601px) {

    /* Styles for screens larger than 600px */
    #mobile-menu-icon {
        display: none;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
    }

    .navbar.show .menu {
        display: none;
    }
}
@media screen and (min-width: 1600px) {
    body>* {
        padding: 2rem 25vw;
    }

    header nav ul {
        grid-template-columns: repeat(3, 1fr);
    }

    header nav ul li a {
        padding: 2rem;
    }
    
}